.main-section {
  font-family: "Lato", sans-serif;
  padding-top: 80px;
  width: 90%;
  align-items: right;
  margin: auto;
}

i {
  font-size: 7em;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  text-decoration: none;
}
