.App {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: yellow;
  height: 100%;
  width: 100%;
}
.content {
  padding-top: 10px;
}
.intro {
  padding-top: 130px;
  padding-left: 80px;
  padding-right: 80px;
  height: 480px;
  line-height: 2;
}
a {
  text-transform: none;
}
