.navbar {
  display: flex;
  align-items: right;
  flex-direction: row;

  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 15px;
  margin-top: -65px;
}

.navbar-item {
  display: flex;
  font-family: "Lato";
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  padding-top: 0px;
  cursor: pointer;
}
.ellipses {
  font-size: 1.5em;
  position: absolute;
  top: 80px;
  right: 20px;
}

@media screen and (min-width: 0px) and (max-width: 790px) {
  .navbar-item {
    display: none;
  }
}
